<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intrusion Detection - Predict</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Optional CSS file -->
</head>
<body>
    <div style="display: flex; justify-content: center; gap: 10px;">
        <img src="/static0/accuracy_analysis.png" alt="accuracy_analysis" style="width: 150px; height: auto;">
        <img src="/static0/labels.png" alt="labels" style="width: 150px; height: auto;">
        <img src="/static0/loggedin.png" alt="loggedin" style="width: 150px; height: auto;">
        <img src="/static0/protocol_type.png" alt="protocol_type" style="width: 150px; height: auto;">
        <img src="/static0/testing_time_analysis.png" alt="testing_time_analysis" style="width: 150px; height: auto;">
        <img src="/static0/training_time_analysis.png" alt="training_time_analysis" style="width: 150px; height: auto;">
    </div>
    <h2>Intrusion Detection Prediction</h2>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="file">Upload CSV File (One Row):</label>
        <input type="file" name="file" accept=".csv" required><br><br>
        <input type="submit" value="Predict">
    </form>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>